#container {
    width: 1200px;
    border: solid;
    padding: 15px;
    margin: 0px auto;
    font-size: 160%;
    color: white;
}

/* Breakpoint-1 */
@media (min-width: 1201px) {
    #header {
        background-color: gainsboro;
        height: 70px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #content {
        margin-bottom: 15px;
    }

    #content:after {
        content: '';
        display: block;
        clear: both;
    }

    #left {
        float: left;
        width: 20%;
    }

    #nav {
        width: 100%;
        background-color: indigo;
        border-radius: 20px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #news {
        width: 100%;
        background-color: coral;
        border-radius: 20px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #right {
        float: right;
        width: 78%;
        background-color: cornflowerblue;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        background-color: gainsboro;
        border-radius: 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Breakpoint-2 */
@media (min-width: 1025px) and (max-width: 1200px) {
    #header {
        background-color: gainsboro;
        height: 70px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #content {
        margin-bottom: 15px;
    }

    #content:after {
        content: '';
        display: block;
        clear: both;
    }

    #left {
        float: left;
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    #nav {
        order: 2;
        width: 100%;
        background-color: indigo;
        border-radius: 20px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #news {
        order: 1;
        width: 100%;
        background-color: coral;
        border-radius: 20px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #right {
        float: right;
        width: 78%;
        background-color: cornflowerblue;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        background-color: gainsboro;
        border-radius: 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Breakpoint-3 */
@media (min-width: 769px) and (max-width: 1024px) {
    #header {
        background-color: gainsboro;
        height: 70px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #content {
        margin-bottom: 15px;
    }

    #content:after {
        content: '';
        display: block;
        clear: both;
    }

    #left {
        float: left;
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    #nav {
        order: 2;
        width: 100%;
        background-color: indigo;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #news {
        display: none;
    }

    #right {
        float: right;
        width: 78%;
        background-color: cornflowerblue;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        background-color: gainsboro;
        border-radius: 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Breakpoint-4 */
@media (min-width: 481px) and (max-width: 768px) {
    #header {
        background-color: gainsboro;
        height: 70px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #content:after {
        content: '';
        display: block;
        clear: both;
    }

    #left {
        order: 2;
        width: 100%;
    }

    #left:after {
        content: '';
        display: block;
        clear: both;
    }

    #nav {
        float: left;
        width: 50%;
        background-color: indigo;
        border-radius: 20px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 15px;
    }

    #news {
        float: right;
        width: 48%;
        background-color: coral;
        border-radius: 20px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #right {
        order: 1;
        float: right;
        width: 100%;
        background-color: cornflowerblue;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #footer {
        background-color: gainsboro;
        border-radius: 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Breakpoint-5 */
@media (max-width: 480px) {
    #header {
        background-color: gainsboro;
        height: 70px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #content:after {
        content: '';
        display: block;
        clear: both;
    }

    #left {
        order: 2;
        width: 100%;
    }

    #left:after {
        content: '';
        display: block;
        clear: both;
    }

    #nav {
        width: 100%;
        background-color: indigo;
        border-radius: 20px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 15px;
        margin-bottom: 15px;
    }

    #news {
        width: 100%;
        background-color: coral;
        border-radius: 20px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #right {
        order: 1;
        float: right;
        width: 100%;
        background-color: cornflowerblue;
        border-radius: 20px;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #footer {
        background-color: gainsboro;
        border-radius: 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}